{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{{ url_for('index') }}">Dashboard</a></li>
                <li><a href="{{ url_for('servers') }}">Servers</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Settings</h1>
            <ul class="nav nav-tabs">
                <li class="active"><a aria-expanded="true" href="#home" data-toggle="tab">Home</a></li>
                <li class=""><a aria-expanded="false" href="#groups" data-toggle="tab">Groups</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
                </div>
                <div class="tab-pane fade" id="groups">
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
{% endblock %}